.register-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  // padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  // border: solid;
}
.name-cx,
.email-cx,
.password-cx {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  border: solid var(--Primary) 0.1em;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 10px;
  outline: none;
  background-color: white;
  fill: none;
  
}
.form-btn {
  background-color: var(--Primary);
  border-radius: 5px;
  font-size: 1.1em;
  padding: 15px;
  color: white;
  outline: none;
  border: none;
}
input[type='submit']:hover{
    background-color: darkblue;

}

label {
  font-size: 1.2em;
}
